<a href="https://colab.research.google.com/github/VivekAdluri/Cleaning-Titanic-Dataset/blob/main/Cleaned_Titanic_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("brendan45774/test-file")

print("Path to dataset files:", path)

Path to dataset files: /root/.cache/kagglehub/datasets/brendan45774/test-file/versions/6

In [9]:
import shutil
import os

files = os.listdir(path)

for file in files:
    full_path = os.path.join(path, file)
    if os.path.isfile(full_path):
        shutil.move(full_path, '/content/')

In [11]:
import numpy as np
import pandas as pd

data=pd.read_csv("/content/tested.csv")

print("Initial data:")
print(data.head())

Initial data:
   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

In [14]:
data.fillna(data.median(numeric_only=True), inplace=True)

In [15]:
data.drop_duplicates(inplace=True)

In [26]:
print("Cleaned data:")
print(data.head())

Cleaned data:
   PassengerId  Survived    Pclass      Name       Sex       Age     SibSp  \
0    -1.727912 -0.755929  0.873482 -0.020718  0.755929  0.386231 -0.499470
1    -1.719625  1.322876  0.873482  1.611889 -1.322876  1.371370  0.616992
2    -1.711337 -0.755929 -0.315819  0.501385  0.755929  2.553537 -0.499470
3    -1.703050 -0.755929  0.873482  1.653326  0.755929 -0.204852 -0.499470
4    -1.694763  1.322876  0.873482 -0.252764 -1.322876 -0.598908  0.616992

      Parch    Ticket      Fare     Cabin  Embarked
0 -0.400248 -0.269494 -0.497413  0.449022 -0.470915
1 -0.400248  0.372934 -0.512278  0.449022  0.700767
2 -0.400248 -1.005027 -0.464100  0.449022 -0.470915
3 -0.400248 -0.316046 -0.482475  0.449022  0.700767
4  0.619896 -0.399841 -0.417492  0.449022  0.700767

In [27]:
data.to_csv("/content/cleaned_tested.csv", index=False)
print("Cleaned dataset saved at: /content/cleaned_tested.csv")

Cleaned dataset saved at: /content/cleaned_tested.csv